*{
  margin: 0px;
  padding: 0px; 
}

html{
  background:linear-gradient(-270deg,white, #ECDBBA);
  width: 100vw;
  height: 100vh;
  scroll-behavior:smooth;
}

/*Barra de rolagem */

::-webkit-scrollbar{
    background-color: #1F1D36;
    border: 3px solid #1F1D36;
    border-radius:;
}

::-webkit-scrollbar-thumb {
    border: 4px solid;
    border-radius: 10px;
    border-color:#1F1D36;
    background-color: #ECDBBA;
}

::-webkit-scrollbar {
   background-color: #1F1D36;
}

/*Barra de Navegação*/

header a{
  color: #ECDBBA;
  text-decoration: none;
  transition: 0.8s;
}

header a:hover {
  opacity: 0.7;
  color: white;
  text-shadow: 1px 1px 7px  white;
}

.logo {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #1F1D36;
  height: 10vh;
  width: 100vw;
}

.nav-lista {
  list-style: none;
  display: flex;
}

.nav-lista li {
  letter-spacing: 3px;
  margin-left: 32px;
  transition: 0.3s;
  border: 1px solid #ECDBBA;
  border-radius: 3px;
  padding: 3px 6px;
}

.nav-lista li:hover{
  transform: scale(1.2);
  border-color:white;
  box-shadow: 0px 0px 7px  white;
}

#btn{
  display: none;
}

/*Banner Carrosel*/

.content{
  height: 80vh;
  width: 90vw;
  border-radius: 10px; 
  overflow: hidden;
  margin:1% auto auto auto;
  box-shadow: 0px 5px 30px black;
}

.slide input{
  display: none;
}

.navegação{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.barra{
  color:white;
  width: 6vw;
  height: 3.5vh; 
  border: 2px solid white;
  margin: 0.4vw;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.barra:hover{
  background-color: rgba(255, 255, 255, 0.8);
}

.slide{
  display: flex;
  width: 500%;
  height: 100%;
}

.foto{
  width: 20%;
  transition: 0.6s;
}

.foto img{
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1{
  margin-left: 0;
}

#slide2:checked ~ .s1{
  margin-left: -20%;
}

#slide3:checked ~ .s1{
  margin-left: -40%;
}

#slide4:checked ~ .s1{
  margin-left: -60%;
}

#slide5:checked ~ .s1{
  margin-left: -80%;
}

/*Sobre a Lojinha*/

.topo{
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.titulo a{
  color: #1F1D36;
  margin-top: 27px;
  font-size: 3vw;
  border: 3px solid #1F1D36;
  border-radius: 5px;
  padding: 4px 10px;
  display:inline-block;
  text-decoration: none;
  transition: 0.3s;
}

#texto-base{
    width: 80vw;
    margin: 0 auto;
}

#texto-base p{
  margin: 4vh 0;
  font-size: 1.3vw
}

#texto-base strong{
    font-weight: bold;
}

#texto-base em{
    font-style: italic;
}

.Mapa{
  height: 80vh;
  width: 90vw;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

/*Cards*/

.card{
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  margin-top: 5vh;
}

.inicio{
  width: 80vw;
  margin: 0 auto;
}

.forma {
  height: 60vh ;
  width: 80vw;
  background: transparent;
  display: flex;
  align-items: center;
  margin: 3vh auto;
  justify-content:space-between;
}

.borda{
  height: 48vh;
  width: 22vw;
  background: transparent;
  border-radius: 10px;
  transition: border 0.5s;
  position: relative;
}

.base-card{
  height: 50vh;
  width: 24vw;
  background: gray;
  border-radius:10px;
  position: relative;
  overflow: hidden;
  background: #1F1D36;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.card0{
  background: url(tn0.webp) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s
}

.card0:hover{
  background: url(tn1.webp) center center no-repeat;
  background-size: 30vw 50vh;
  
}

.card1{
  background: url(tn3.webp) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s
}

.card1:hover{
  background: url(tn4.webp) center center no-repeat;
  background-size: 30vw 50vh;
}

.card2{
  background: url(tn5.webp) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s
}

.card2:hover{
  background: url(tn6.webp) center center no-repeat;
  background-size: 30vw 50vh;
}

.card3{
  background: url(tn8.jpg) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s
}

.card3:hover{
  background: url(tn7.webp) center center no-repeat;
  background-size: 30vw 50vh;
}

.card4{
  background: url(tn9.webp) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s
}

.card4:hover{
  background: url(tn10.webp) center center no-repeat;
  background-size: 30vw 50vh;
}

.card5{
  background: url(tn11.jpg) center center no-repeat;
  background-size: 30vw 50vh;
  transition: background 0.3s
}

.card5:hover{
  background: url(tn12.jpg) center center no-repeat;
  background-size: 30vw 50vh;
}

.borda h2{
  font-size: 1.7em;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.5s;
}

.borda:hover h2{
  opacity: 1;
}

.texto-card{
  font-size: 1.2em;
  margin-left: 5px;
  margin-top: 30vh;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items:space-around;
  justify-content:flex-end;
}

/*Aba Contatos*/

.formulario {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

fieldset{
  height: 80vh ;
  width: 80vw;
  background: transparent;
  display: flex;
  align-items: flex-start;
  margin: 3vh auto 1vh auto;
  justify-content:space-between;
  flex-direction: column;
  border: none;
}

fieldset label{
  font-size: 1.9vw; 
}

.label1:before{
  content: "➞";
}

.input-padrão{
  margin: 1.5vh auto 3vh 2vw;
  padding: 10px 25px;
  width: 50%;
  cursor: text;
}

.legenda{
  font-size: 1.9vw; 
  font-weight: bold;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

.pergunta{
  height: 40vh ;
  margin: 0 auto;
}

.input-demais{
  cursor: pointer;
}

.caixa1{
  height: 55vh;
}

#momento{
  height: 7vh;
  width: 10vw;
  border: 2px solid #1F1D36;
  border-radius: 5px;
  color: #1F1D36;
  background:linear-gradient(-270deg,white, #ECDBBA);
  text-align: center;
  font-size: 1.5vw;
}

.enviar{
  position: relative;
  width: 40%;
  padding: 20px 0 ;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #1F1D36;
  border-radius: 20px 40px;
  color: #1F1D36;
  background:linear-gradient(-270deg,white, #ECDBBA);
  transition: 0.3s ;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10vh;
  margin-top: 3vh;
  outline: none;
}

.enviar:hover{
  box-shadow: inset 27vw 0 0 0 #1F1D36;
  color: #ECDBBA;
  transform: scale(1.1);
}

/*Footer*/

.footer{
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #1F1D36;
  text-align: center;
  color: #ECDBBA;
  height: 8vh;
  font-size: 1.5vw;
}

/* designer com um tamanho menor: media query*/

@media(max-width: 800px) {

  .nav-lista{
    display: block;
    position: absolute;
    width: 0vw;
    height:100%;
    top:10vh;
    right:0;
    background: #1F1D36;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    font-size: 30px;
    transition: .8s;
    z-index: 1000;
    visibility: hidden;
    overflow-x: hidden;
    opacity: 0.1;
  }

  .nav-lista li{
    margin: auto;
    
  }
  
  #nav.active .nav-lista{
    display: flex;
    width: 50vw;
    height:100%;
    visibility: visible;
    overflow-x: auto;
    overflow-y: auto;
    opacity: 1;
  }

  #nav.active .logo{
    transform: scale(1.2);
  }

  #btn{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hbgr{
    display: block;
    color:  #ECDBBA;;
    border-top: 2px solid;
    width: 25px;
  }

  #hbgr::after, #hbgr::before{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: currentColor;
    margin: 5px;
    transition: .8s;
    position: relative;
  }

   #nav.active #hbgr{
     border-top-color: transparent;
   }
  
   #nav.active #hbgr::before{
     transform: rotate(45deg);
   }
  
   #nav.active #hbgr::after{
     transform: rotate(-45deg);
     top: -7px;
   }

  .content{
    border-radius:20px;
    height: 50vh;
    margin-top: 3vh;
  }

  .navegação{
    bottom: 37.5vh;
  }

  .titulo a{
    font-size: 10vw
  }
  
  #texto-base p{
    font-size: 4.5vw;
  }

  #texto-base strong{
    font-size: 5vw;
  }

  .forma{
    height: 215vh;
    flex-flow: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }

  .borda{
    width: 68vw;
    height: 58vh;
  }

  .base-card{
    display: flex;
    height: 60vh;
    width: 70vw;
    background-size: 70vw 60vh;
    transition: background 0.3s
  }

  .base-card:hover{
    background-size: 70vw 60vh;
  }
  
  .texto-card{
    font-size: 1.7em;
    margin-left: 7px;
    margin-top: 40vh;
  }

  fieldset label{
  font-size: 6.5vw; 
}

  .input-padrão{
    width: 80%;
  }

  .caixa1{
   height: 60vh; 
  }
  
  .legenda{
    font-size: 6vw;
  }

  #momento{
    width: 50vw;
    height: 10vh;
    font-size: 3.5vh;
    margin-bottom: 2vh;
  }

  .enviar{
    width: 100%;
    height: 10vh;
  }

  .enviar:hover{
    box-shadow: inset 62vw 0 0 0 #1F1D36;
  }

  .footer{
    font-size: 3vh;
  }
} 


  